name: Lint

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libcurl4-openssl-dev bear
          #install jansson from source
          git clone --branch lib --single-branch https://github.com/stockholm-3/just-weather.git ../lib

      - name: Generate compile_commands.json
        run: |
          bear -- make clean all

      - name: Run lint check (naming standards)
        run: make lint-ci
